*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}
body{
    background-image: url(17580.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}
.navbar{
     height: 125px;
     width: 100%;
     background-color: rgb(231, 231, 231);
     background-position: center;
     box-shadow:0px 5px 1px rgba(126,126,126,0.5);
}    
.b1{
    position: absolute;
    top: 20%;
    left: 35%;
    background: transparent;
    font-family: Lustia;
    font-size: 20px;
    font-weight: 10px;

}
.b2{
    background-color: #80838A;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.logo{
    height: 100px;
    width: 100px;
    background: transparent;
    opacity: 0.8;
}
nav ul li a:hover {
    color: rgb(197, 197, 197);
    transition: 0.15s;
}
.btn{
    border: none;
    background-color: #80838A;
    padding: 8px 7px;
    border-radius: 5px;
}
.btn2{
    border: none;
    background-color: #80838A;
    width: 200px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
}
button:hover{
    box-shadow: 3px 5px 10px rgba(126,126,126,0.5);
    cursor: pointer;
}
a button{
    color: #E0E0E0;
    text-decoration: none;
    font-family: raleway;
    font-size: 18;
}
.hero{
    text-align: center;
    padding-top: 100px;
}
.h1{
    color: black;
    font-family: Merriweather;
    font-size: 48px;
}
.h2{
    color: rgb(43, 43, 43);
    font-family: raleway;
    font-size: 30px;
    padding-top: 50px;
    font-weight: lighter;
}
.b{
    text-align: center;
    padding-top: 100px;
}
.b1{
    padding-bottom: 40px;
}
.b2{
    padding-right: 30px;
}
.image{
    background: transparent;
}
.fb{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
.go{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
.li{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
